<div class="container mt-5">
  <div class="card text-white bg-danger">
    <div class="card-header">
      <h1 class="display-4 text-center"><strong>Spiderman</strong></h1>
    </div>
    <div class="card-body">
      <img
        src="../../assets/Spiderman.jpg"
        alt="Spiderman"
        class="img-fluid rounded mb-3"
      />
      <p class="lead">
        Spider-Man is a fictional superhero created by writer Stan Lee and
        artist Steve Ditko. He first appeared in Amazing Fantasy #15 in 1962.
        Spider-Man is known for his agility, web-slinging abilities, and his
        iconic red and blue costume.
      </p>
    </div>
  </div>
</div>
