<div class="header-container">
  <div class="header-content">
    <h1>Marvel Wiki</h1>
  </div>
  <div class="cards">
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/download.jpg"
          class="card-img-top"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">SpiderMan</h5>
          <a class="btn btn-primary" (click)="CallSpiderMan()">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/iron-man-pictures-k83lqhe6vnh95b1m.jpg"
          class="card-img-top"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">Iron Man</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/Captain america.jpg"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">Captain America</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/Deadpool.jpg"
          class="card-img-top"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">Deadpool</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <hr />
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/blackpanter.jpg"
          class="card-img-top"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">Black Panther</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/wolverine.jfif"
          class="card-img-top"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">Wolverine</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/thor.jpg"
          class="card-img-top"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">Thor</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="card" style="width: 20rem">
        <img
          src="../../assets/hulk.jpg"
          class="card-img-top"
          style="width: 100%; height: 159px"
        />
        <div class="card-body">
          <h5 class="card-title">Hulk</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
